/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #17A2B8;
}

::selection{
  color: #fff;
  background: #17A2B8;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.wrapper{
  width: 770px;
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .input-field{
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

.wrapper label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-right: auto;
}

.wrapper input[type="text"] {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  background: #b4ebf4;
  margin-right: auto;
}

.wrapper button[type="submit"]{
  width: 100%;
  max-width: 200px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
  border: none;
  margin-top: 20px;
  margin-right: auto;
}

.wrapper button[type="submit"]:hover{
  transform: translateY(-5px);
}

#play-again-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: auto;
}

#score {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  #top-players {
    font-weight: bold;
    margin-top: 50px;
  }
  